{{ define "title" }}{{ .Title }} ﹒ {{ .Site.Title }}{{ end }}

{{ define "menu" }}
<ul class="hidden-on-mobile">
    {{ range ($.Site.GetPage "taxonomyTerm" "menu_group").Pages }}
    <li><a href="/menu/#{{ .Title }}">{{ .Title | title }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
</header>
<section>
    {{ .Content }}

    <figure>
        <a href="{{ .Permalink }}"><img {{ with .Resources }}
                {{ with .GetMatch "{*.*,*.jpg,*.png,*.jpeg,*.JPG,*.PNG,*.JPEG}" }} src='{{ .Permalink }}' {{ end }}
                {{ end }} {{ with .Params.ImgAlt }}alt="{{ . }}" {{ end }} {{ with .Params.ImgTitle }}title="{{ . }}"
                {{ end }} /></a>
        <figcaption>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

            <p>{{ .Description }}</p>

        </figcaption>
    </figure>

    <div>
        <p class="cost-container">
            {{ with .Params.Cost }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
            {{ with .Params.CostPerDozen }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
            {{ with .Params.CostPerHalfDozen }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
        </p>
    </div>
    <div>
        <h2 style="color:red">Nutritional Facts</h2>
        <p>To be created</p>
    </div>
</section>
{{ end }}