{{ define "title" }}{{ .Title }} ﹒ {{ .Site.Title }}{{ end }}

{{ define "menu" }}
<ul class="hidden-on-mobile">
    {{ range ($.Site.GetPage "taxonomyTerm" "menu_group").Pages }}
    <li><a href="/menu/#{{ .Title }}">{{ .Title | title }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
</header>
<blockquote>
    <p><a href="/contact/">Send a message</a> to order your pastries today!</p>
</blockquote>
{{ .Content }}
<section class="my-16">
    {{ if .Resources }}<figure>{{ end }}
        {{ if .Resources }}
        <a href="{{ .Permalink }}"><img {{ with .Resources }}
                {{ with .GetMatch "{*.*,*.jpg,*.png,*.jpeg,*.JPG,*.PNG,*.JPEG}" }} src='{{ .Permalink }}' {{ end }}
                {{ end }} {{ with .Params.ImgAlt }}alt="{{ . }}" {{ end }} {{ with .Params.ImgTitle }}title="{{ . }}"
                {{ end }} /></a>
        <figcaption>
            <p class="tc">{{ .Title }}</p>
            <p class="tc">{{ .Params.FigCaption }}</p>
        </figcaption>
        {{ end }}
        <p class="tc">{{ .Description }}</p>
        <p class="cost-container">
            {{ with .Params.Cost }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
            {{ with .Params.CostPerDozen }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
            {{ with .Params.CostPerHalfDozen }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
        </p>
        {{ if .Resources }}
    </figure>
    {{ end }}

    <h2 style="color:red">Nutritional Facts</h2>
    <p>To be created</p>
</section>
{{ end }}