:root {
  --max-width: 36rem;
  --font-small: 0.8rem;
  --font-med: 0.9rem;
  --alpha: 80px;
  --beta: 66px;
  --gamma: 28px;
  --primary: #7b0cd1;
  --highlight: #e4cef5;
  --white: #fff;
  --off-white: #fffdfc;
  --grey-1: #f5f3f2;
  --grey-2: #ebe7e6;
  --grey-3: #595756;
  --grey-4: #424040;
  --black: #2b2523;
  --serif: "Avenir Next", "nunito-sans", sans-serif;
  --mono: "monaco", "source-code-pro", monospace;
  --border-radius: 0.25rem;
  --hover-transition: all 150ms ease;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: greyscale;
  font-feature-settings: "ss02";
}

html {
  font-size: 18px;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: var(--mono);
  color: var(--black);
  line-height: 1.4;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.53px;
  font-family: var(--serif);
  scroll-margin-top: 8rem;
}

h2 {
  letter-spacing: 0.63px;
  color: var(--grey-3);
  font-family: var(--serif);
  scroll-margin-top: 8rem;
}

h3 {
  font-weight: initial;
  font-family: var(--mono);
  color: var(--grey-3);
  scroll-margin-top: 8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
hr,
time,
footer,
.limit {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-feature-settings: "onum", "ss02";
}

a {
  color: var(--black);
  text-decoration-color: var(--grey-3);
  text-decoration-thickness: 1px;
}

a:hover {
  color: var(--grey-2);
  text-decoration-color: var(--grey-2);
}

body > header a {
  text-decoration: none;
}

body > header h1 {
  margin-bottom: 0;
  font-weight: 700;
}

body > header ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

body > header ul:last-child {
  margin-bottom: 1.5rem;
}

body > header li {
  display: inline-block;
  margin-right: 0.5em;
}

body > header * {
  font-size: 1.1rem;
  line-height: 1.4;
  color: var(--white);
  font-family: var(--serif);
  padding: auto 1em;
}

body > header {
  background-color: var(--primary);
  margin: 0 -1rem;
  padding: 0.25rem 0.5rem;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 999;
}

footer {
  margin: 2rem auto;
  font-size: var(--font-small);
  line-height: 1.6;
}
footer a {
  display: inline-block;
  margin-right: 0.5em;
}

figure {
  margin: 5rem auto;
  max-width: calc(10rem + var(--max-width));
}
figure img {
  width: 100%;
}
figure figcaption {
  margin-top: 0.25rem;
  font-size: var(--font-small);
  color: var(--grey-3);
}

button,
input,
textarea {
  font-family: inherit;
  border: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 12px 16px 10px;
  font-size: 1rem;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  background-color: #fff;
  background-color: var(--white);
  border-radius: 0.25rem;
  border-radius: var(--border-radius);
  text-decoration: none;
  font-weight: 700;
  color: #7b0cd1;
  color: var(--primary);
  text-align: center;
  box-shadow: inset 0 0 0 2px #7b0cd1;
  box-shadow: inset 0 0 0 2px var(--primary);
  transition: all 0.15s ease;
  transition: var(--hover-transition);
}

form {
  max-width: var(--max-width);
  margin: 2rem auto;
}

form * {
  color: var(--grey-3);
}

fieldset,
label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

fieldset {
  position: relative;
}
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button-reset::-moz-focus-inner,
.input-reset::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input,
textarea {
  background-color: #ebe7e6;
  background-color: var(--grey-2);
  border-radius: 0.25rem;
  border-radius: var(--border-radius);
  padding: 12px 16px 10px;
  font-size: 1rem;
  font-size: var(--spacing-medium);
  line-height: 1.25;
  position: relative;
  transition: all 0.15s ease;
  transition: var(--hover-transition);
  z-index: 2;
}
input:focus,
textarea:focus {
  background-color: #fff;
  background-color: var(--white);
}
input:focus + label,
textarea:focus + label {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-120%);
}
::-webkit-input-placeholder {
  color: #2b2523;
  color: var(--black);
  font-size: 1rem;
  font-size: var(--spacing-medium);
  line-height: normal;
}
:-moz-placeholder,
::-moz-placeholder {
  color: #2b2523;
  color: var(--black);
  font-size: 1rem;
  font-size: var(--spacing-medium);
  line-height: normal;
}
:-ms-input-placeholder {
  color: #2b2523;
  color: var(--black);
  font-size: 1rem;
  font-size: var(--spacing-medium);
  line-height: normal;
}
label {
  font-size: 0.875rem;
  font-weight: 800;
  color: #fff;
  color: var(--white);
  background-color: #7b0cd1;
  background-color: var(--primary);
  border-radius: 0.25rem;
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  line-height: 1;
  transition: all 0.15s ease;
  transition: var(--hover-transition);
  z-index: 2;
}

.half {
  width: 50%;
}

.full {
  width: 100%;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}

.tc {
  text-align: center;
}

.primary {
  color: var(--primary);
}

.text-sm {
  font-size: var(--font-small);
}

.text-base {
  font-size: var(--font-medium);
}

.text-lg {
  font-size: 1rem;
}

.splash {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.splash {
  --alpha: 3rem;
  --beta: 2.25;
  --gamma: 1.27;
}

@media all and (min-width: 480px) {
  .splash {
    --alpha: 4rem;
    --beta: 3rem;
    --gamma: 1.7rem;
  }
}

.splash h1,
.splash h2,
.splash h3 {
  text-align: center;
  font-family: var(--serif);
}

.splash h1 {
  font-size: var(--alpha);
}

.splash h2 {
  font-size: var(--beta);
  color: var(--primary);
}

.splash h3 {
  font-size: var(--gamma);
  color: var(--primary);
  font-weight: initial;
  font-family: var(--mono);
}

.cost-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media all and (min-width: 480px) {
  .cost-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  box-shadow: inset 0 0 0 2px #7b0cd1;
  box-shadow: inset 0 0 0 2px var(--primary);
  outline: 0 !important;
}

::selection {
  background-color: #e4cef5;
  background-color: var(--highlight);
}
