<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <header>
        <nav>
            <h1><a href="/">{{ .Site.Title }}</a></h1>
            <ul>
                <li><a href="/menu/">Menu</a></li>
                <li><a href="/photos/">Photos</a></li>
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ block "main" . }}

        {{ end }}
    </main>
    <footer>
        <a href="#">Back to top</a>
        <a href="mailto:pastriesbygrey@gmail.com">Email</a>
        <a href="https://www.instagram.com/pastriesbygrey/">Instagram</a>

    </footer>
</body>

</html>