<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/screen.css">
</head>

<body>
    <header>
        <nav>
            <h1 class="f-headline lh-solid avenir center"><a href="/">{{ .Site.Title }}</a></h1>
            <ul class="list">
                <li><a href="/menu/">Menu</a></li>
                <li><a href="/photos/">Photos</a></li>
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{ block "main" . }}

        {{ end }}
    </main>
</body>

</html>