<div>
    <h2 class="tc">Drop us a line below</h2>
    <form action="https://formspree.io/xoqdnzdq" method="POST">
        <div class="flex">
            <div class="half px-1">
                <fieldset>
                    <input id="name" class="full mb-2" type="text" name="name" placeholder="Name">
                    <label for="name">Name</label>
                </fieldset>
            </div>
            <div class="half px-1">
                <fieldset>
                    <input id="email" class="full mb-2" type="email" name="email" placeholder="Email">
                    <label for="email">Email</label>
                </fieldset>
            </div>
        </div>
        <fieldset>
            <textarea id="message" class="mb-2 full" name="message" placeholder="Your message" rows="8"
                cols="80"></textarea>
            <label for="message">Your message</label>
        </fieldset>
        <div class="tc"><button class="btn" type="submit" value="Send">Submit</button></div>

    </form>
</div>