{{ define "title" }}{{ .Title }} ﹒ {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ .Content }}

<h2>How to Order</h2>
<p>You can also use the form below for orders from our online <a href="/menu">menu</a>. Please provide the item names
    and quantities.</p>
<p>Don’t be shy, drop us a line!</p>

<div class="flex limit">
    <div class="half px-1">
        <h3 class="primary">Location</h3>
        <p>Cypress, Texas</p>
    </div>
    <div class="half px-1">
        <h3 class="primary">Working hours</h3>
        <p>Monday - Friday: 3pm - 9pm</p>
        <p>Sat-Sun: 8am - 10pm</p>
    </div>
</div>

{{ partial "contact-form.html" . }}
{{ end }}