{{ define "title" }}{{ .Title }} ﹒ {{ .Site.Title }}{{ end }}

{{ define "menu" }}
<ul class="hidden-on-mobile">
    {{ range (.Pages.GroupByParam "menu_group") }}
    <li><a href="#{{ .Key }}">{{ .Key | title }}</a></li>
    {{ end }}
</ul>
{{ end }}

{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
</header>
{{ .Content }}

{{ range (.Pages.GroupByParam "menu_group") }}
<section>
    <h2 id="{{ .Key }}">{{ .Key | title }}</h2>
    {{ range .Pages }}
    <section class="my-16">
        <h3 class="tc"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ if .Resources }}
        <figure>
            <a href="{{ .Permalink }}"><img {{ with .Resources }}
                    {{ with .GetMatch "{*.*,*.jpg,*.png,*.jpeg,*.JPG,*.PNG,*.JPEG}" }} src='{{ .Permalink }}' {{ end }}
                    {{ end }} {{ with .Params.ImgAlt }}alt="{{ . }}" {{ end }}
                    {{ with .Params.ImgTitle }}title="{{ . }}" {{ end }} /></a>
            <figcaption>
                <p class="tc">{{ .Params.FigCaption }}</p>
            </figcaption>
        </figure>
        {{ end }}
        <p class="tc">{{ .Description }}</p>
        <p class="cost-container">
            {{ with .Params.Cost }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
            {{ with .Params.CostPerDozen }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
            {{ with .Params.CostPerHalfDozen }}<span class="text-base tx-1">{{ . }}</span>{{ end }}
        </p>
    </section>
    {{ end }}
</section>
{{ end }}

{{ end }}