{{ define "title" }}{{ .Title }} ﹒ {{ .Site.Title }}{{ end }}

{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
</header>
{{ .Content }}
<div class=""></div>
{{ range .Pages }}

<section>
    <figure>
        <a href="{{ .Permalink }}"><img {{ with .Resources }}
                {{ with .GetMatch "{*.*,*.jpg,*.png,*.jpeg,*.JPG,*.PNG,*.JPEG}" }} src='{{ .Permalink }}' {{ end }}
                {{ end }} {{ with .Params.ImgAlt }}alt="{{ . }}" {{ end }} {{ with .Params.ImgTitle }}title="{{ . }}"
                {{ end }} /></a>
        <figcaption>
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

            <p>{{ .Description }}</p>
            <p>{{ .Params.Cost }}</p>

        </figcaption>
    </figure>
</section>
{{ end }}
</div>

{{ end }}